*{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
} 

ul li::before{
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5oNdkVacr1PRPVuwUbdQyTsfNiGjd3KrHKQ&usqp=CAU");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

.headerTitle{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 35px;
  background-color: red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  width: 100%;
}

#banner{
  height: 150px;
}

#pokeballLeft{
  height: 50px;
}

#pokeballLeft-sm{
  height: 35px;
}

#pokeballRight{
  height: 50px;
  transform: scaleX(-1);
}

#pokeballRight-sm{
  height: 35px;
  transform: scaleX(-1);
}

.nav {
  font-size: 23px;
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: 'Comfortaa', cursive;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

#bottom {
  font-family: 'Swanky and Moo Moo', cursive;
  color: white;
  text-align: right;
}

a:hover{
  cursor: crosshair;
  color: whitesmoke;
}


/*------------------------------------------- about --------------------------- */
#aboutContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  
  /*margin: 40px auto; */
  margin: 10px auto 50px auto;
  background-color: transparent;
  border: 10px solid #1e7ce9;
  border-style: double;
}

#aboutContent{
  font-family: 'Comfortaa', cursive;
  width: 88%;
}

#aboutTitle{
  margin-top: 20px;
  text-align: center;
  text-decoration: overline underline wavy red;
}

.aboutTitles{
  font-weight: bold;
}

#aboutPlayContent{
  width: 75%;
  margin-left: 50px;
}

.aboutContents{
  margin-left: 50px;
}



/*------------------------------------------- pokemon --------------------------- */
#holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.pokemonCardContainer {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemonCard {
  background: linear-gradient(to left, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border: 5px solid goldenrod;
  border-radius: 8px;
  padding: 10px;
  width: 220px;
  margin: 5px;
  /* -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); */
  
}

.pokemonBackground {
  background-color: whitesmoke;
  border: 3px solid goldenrod;
  text-align: center;
}

#pokemonImage{
  filter: brightness(80%);
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

#pokemonImage:hover{
  filter: none;
  animation: bounce 0.5s linear;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
}

.pokemonContent {
  text-align: center;
  
}

#pokemonName {
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Signika', sans-serif;
  text-transform: capitalize;
  /* margin-top: 10px; */
  font-size: 25px;
}

#pokemonNameContent{
  justify-content: center;
  display: flex;
  margin-top: 5px;
}

#pokemonNum{
  text-align: center;
  font-size: 20px;
  background-color: goldenrod;
  border-radius: 0 8px 0 0;
  width: 30%;
}

#edit{
  /* display: flex; */
  margin-top: 3px;
}

#delete{
  text-align: right;
  height: 28px;
}

#delete:hover{
  cursor: crosshair;
  font-size: larger;
}

#edit:hover{
  cursor: crosshair;
  font-size: larger;
}

/* #myDIV{
  display: none;
} */


/* ------------------------------------ POKEDEX -------------------------------------> */
.pokedexPageContainer {
  border: 10px solid #1e7ce9;
  border-style: double;
  margin: 10px auto 50px auto;
  width: 650px;
  height: 525px;
}

.pokedexSearchBar {
  background-color: #1020b3;
  height: 60px;
}

#searchBar{
  padding-top: 15px;
  text-align: center;
}

#search{
  font-family: 'Comfortaa', cursive;
  height: 22px;
  text-align: center;
}

#searchButton{
  font-family: 'Comfortaa', cursive;
  padding: 5px;
  background-color: #cc0303;
  color: white;
  border-radius: 5px;
}

.pokedex{
  background-color: #cc0303;
  border: 2px solid black;
  border-radius: 8px;
  margin: 40px auto;
  width: 75%;
  height: 70%;
}

/* ------------------------------------ left side of pokedex -------------------------------------> */
.leftSide{
  background-color: #cc0303;
  width: 50%;
  border-radius: 15px;
  height: 98%;
}

.topLightsContainer{
  border-right: 3px solid black;
  height: 72px;
  background-color: #cc0303;
  display: flex;
  border-radius: 10px 4.5px 0 0;
}

#blueLight{
  background-color: #1e7ce9;
  border: 3px solid #d8d5d5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 8px;
}

#blueDark{
  background-color: #195497ad;
  border-radius: 50%;
  position: relative;
  height: 34px;
  width: 34px;
  left: -22px;
  top: 16px;
}

#blueHighlight{
  background-color: #a5caf7;
  border: 2px solid #1e7ce9;
  position: relative;
  height: 10px;
  width: 10px;
  left: -56px;
  top: 17px;
  border-radius: 50%;
}

#redLight{
  background-color: red;
  border: 1px solid black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: -25px;
}

#yellowLight{
  background-color: yellow;
  border: 1px solid black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: -20px;
}

#greenLight{
  background-color: green;
  border: 1px solid black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: -15px;
}

#topLine{
  position: relative;
  height: 25px;
  width: 100px;
  border-bottom: 3px solid black;
  border-right: 4px solid black;
  -moz-transform: skew(-55deg);
  -webkit-transform: skew(-55deg);
  transform: skew(-55deg);
  left: 18px;
  top: -32px;
}

#topLine2{
  position: relative;
  height: 40px;
  width: 105px;
  border-bottom: 3px solid black;
  left: 138px;
  top: -100.5px;
}

.imgContainer{
  background-color: lightgrey;
  border: 2px solid black;
  width: 180px;
  height: 150px;
  margin: auto;
  position: relative;
  top: -50px;
  left: -8px;
}

.imgDisplay{
  background-color: #181717;
  border: 2px solid black;
  width: 75%;
  height: 62%;
  position: relative;
  top: 5px;
  left: 22px;
  text-align: center;
  vertical-align: top;
}

#redDot1{
  background-color: red;
  border: 1px solid black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 45%;
}

#redDot2{
  background-color: red;
  border: 1px solid black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

#bottomLeftDot{
  background-color: red;
  border: 0.5px solid black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 20px;
}

#bottomRightLine1{
  position: relative;
  height: 1px;
  width: 15px;
  border-bottom: 2px solid black;
  left: 142px;
}

#bottomRightLine2{
  position: relative;
  height: 1px;
  width: 15px;
  border-bottom: 2px solid black;
  left: 142px;
  top: 1px;
}

#bottomRightLine3{
  position: relative;
  height: 1px;
  width: 15px;
  border-bottom: 2px solid black;
  left: 142px;
  top: 2px;
}

#bottomCorner{
  background-color: #cc0303;
  border-right: 2px solid black;
  height: 18px;
  width: 20px;
  transform: skew(45deg);
  position: relative;
  top: -68px;
  left: 11px;
}

#blkLeftButton{
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 25px;
}

#redLine{
  background-color: red;
  border: 2px solid black;
  border-radius: 25%;
  width: 25px;
  height: 1px;
  position: relative;
  top: -72px;
  left: 65px;
}

#blueLine{
  background-color: blue;
  border: 2px solid black;
  border-radius: 25%;
  width: 25px;
  height: 1px;
  position: relative;
  top: -77px;
  left: 105px;
}

#greenDisplay{
  background-color: #309730;
  border: 2px solid black;
  height: 45px;
  width: 85px;
  position: relative;
  top: -59px;
  left: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}

#pokedexID{
  color: black;
  text-align: center;
  margin: 10%;
}

.dPad{
  background-color: #cc0303;
  border: 2px solid #cc0303;
  width: 65px;
  height: 65px;
  position: relative;
  top: -120px;
  left: 152px;
}

#up{
  background-color: black;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  margin: auto;
  width: 20px;
  height: 50%;
}

#upButton{
width: 0;
height: 0;
border-style: solid;
border-width: 5px 5px 5px 5px;
border-color: transparent transparent #a7a5a5 transparent;
margin: auto;
}

#left{
  background-color: black;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  position: relative;
  top: -30px;
  width: 50%;
  height: 20px;
}

#leftButton{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: transparent #a7a5a5 transparent transparent;
  position: relative;
  top: 25%;
  }

#right{
  background-color: black;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  position: relative;
  width: 50%;
  height: 20px;
  top: -10px;
  left: 33px;
}

#rightButton{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: transparent transparent transparent #a7a5a5 ;
  position: relative;
  left: 70%;
  top: 25%;
  }

#down{
  background-color: black;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  width: 20px;
  height: 50%;
  position: relative;
  left: 23px;
  top: -40px;
}

#downButton{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #a7a5a5 transparent transparent transparent;
  position: relative;
  top: 20px;
  left: 5px;
}

/* -------------------------- pokedex divider ---------------------------- */
.middleDivider{
  background-color: #cc0303;
  border: 2px solid black;
  border-radius: 8px;
  width: 20px;
  height: 323px;
  position: relative;
  left: 230px;
  top: -319px;
}

#hinge1{
  background-color: black;
  height: 5px;
  position: relative;
  top: 25px;
}

#hinge2{
  background-color: black;
  height: 5px;
  position: relative;
  top: 280px;
}

/* ------------------------------ right side of pokedex ------------------------ */
.rightSide{
  background-color: #cc0303;
  width: 43%;
  position: relative;
  top: -595px;
  left: 266px; 
}

#topRightLine{
  position: relative;
  height: 42px;
  width: 247px;
  background-color: white;
  border-bottom: 4px solid black;
  left: -23px;
  top: -95px;
}

#topRightLine2{
  position: relative;
  background-color: white;
  height: 25px;
  width: 123px;
  border-bottom: 4px solid black;
  border-radius: 5px;
  border-left: 4px solid black;
  -moz-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
  left: 85px;
  top: -97px;
}

#blankSection{
  background-color: white;
  border-radius: 5px;
  width: 153px;
  height: 5px;
  position: relative;
  top: -131px;
  left: 73px;
  
}

#blankSection2{
  background-color: white;
  width: 44px;
  height: 40px;
  position: relative;
  top: -146px;
  left: 180px;
}

#blankSection3{
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: -217px;
  left: -26px;
  transform: skew(30deg);
}

#detailsBox{
  background-color: #181717;
  border: 2px solid black;
  border-radius: 3px;
  padding: 20px;
  color: white;
  text-align: center;
  position: relative;
  top: -125px;
  font-family: 'Press Start 2P', cursive;
}

.blueButtonContainer{
  border-radius: 3px;
  height: 65px;
  margin-top: -105px;
}

.topBlueButtonRow{
  display: flex;
  width: 100%;
}

.bottomBlueButtonRow{
  display: flex;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.blueButton{
  background-color: #1e7ce9;
  border: 0.8px solid black;
  width: 25%;
  height: 25px;
}

.blueButton:nth-child(1){
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid black;
}

.blueButton:nth-child(5){
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid black;
}

.blackSideButtonContainer{
  height: 10px;
  margin-top: 8px;
  position: relative;
}

#blackSideButton1{
  background-color: #2c2c2c;
  border: 2px solid black;
  border-radius: 5px;
  height: 5px;
  width: 30px;
  position: absolute;
  right: 1px;
}

#blackSideButton2{
  background-color: #2c2c2c;
  border: 2px solid black;
  border-radius: 5px;
  height: 5px;
  width: 30px;
  position: absolute;
  right: 38px;
}

.whiteButtonContainer{
  height: 30px;
  width: 50%;
  display: inline-flex;
}

#whiteButton1{
  background-color: white;
  border: 0.5px solid black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 90%;
  width: 100%;
}

#whiteButton2{
  background-color: white;
  border: 0.5px outset black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 90%;
  width: 100%;
}

#pokedexName{
  color: white;
  text-align: center;
  text-transform: uppercase;
  
}

.yellowRightCircle{
  background-color: goldenrod;
  border: 1px solid black;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: relative;
  left: 155px;
  top: -18px;
}

#yellowRightCircleDark{
  background-color: darkgoldenrod;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  position: relative;
  left: 2px;
  top: 2px;
}

#yellowRightCircleHighlight{
  background-color: goldenrod;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  left: 4px;
  top: -20px;
}

.pokedexBottomRight{
  width: 100%;
  height: 44px;
  display: flex;
}

#leftBottom{
  background-color: #181717;
  font-family: 'Press Start 2P', cursive;
  border: 1px solid black;
  border-radius: 3px;
  width: 45%;
  height: 40px;
  margin: 0 auto auto 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 13px;
}

#rightBottom{
  background-color: #181717;
  font-family: 'Press Start 2P', cursive;
  border: 1px solid black;
  border-radius: 3px;
  width: 45%;
  height: 40px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 13px;
}

/* ------------------------------ play ------------------------ */


.playContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  margin: 10px auto 50px auto;
  background-color: transparent;
  border: 10px solid #1e7ce9;
  border-style: double;
  font-family: 'Comfortaa', cursive;
}

#playContent{
  width: 88%;
  text-align: center;
}

.playTitle{
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: overline underline wavy red;
}

#playImage{
  text-align: center;
  filter: brightness(0%);
}


 #nameContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.playName {
  background-color: white;
  border: 3px solid #cc0303;
  border-radius: 10px;
  height: 30px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-transform: uppercase;
}

.playName:hover{
  animation: bounce 0.5s linear;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

#hintTypeContainer{
  margin: 20px;
  font-size: smaller;
}

#hintType{
  filter: blur(5px);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#hintType:hover{
  filter: blur(0);
}

